body {
    background: url('/media/castle_background.png') no-repeat center center fixed;
}

.navbar-brand {
    width: 15%;
    max-width: 250px;
}

#navbar-logo {
    width: 100%;
    max-width: 250px;
}